@font-face {
  font-family: "GDS Transport";
  src:  url('/fonts/bold-b542beb274-v2.woff2') format('woff2'),
        url('/fonts/bold-affa96571d-v2.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GDS Transport";
  src:  url('/fonts/light-94a07e06a1-v2.woff2') format('woff2'),
        url('/fonts/light-f591b13f7d-v2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Fix the size of the sidebar */
.react-draggable {
  display: none;
  pointer-events: none;
}
.sidebar-container {
  min-width: 260px;
  margin-left: 30px;
}

/* Hide the header and search field */
.sidebar-container .sidebar-header,
.sidebar-container .search-field {
  display: none;
}

/* Set up the roots */
#storybook-explorer-tree .sidebar-subheading {
  pointer-events: none; /* We don't want collapsing or expanding at all */
  color: #0b0c0c;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
  text-transform: none;
  justify-content: left;
  letter-spacing: 0.1em;
}
#storybook-explorer-tree .sidebar-subheading:first-child {
  margin-top: 0px;
}
/* Hide the icons for the roots */
#storybook-explorer-tree .sidebar-subheading button span,
#storybook-explorer-tree .sidebar-subheading button svg {
  display: none;
}

/* Set up the story links */
#storybook-explorer-tree .sidebar-item {
  margin: 5px;
  padding: 2px;
  padding-bottom: 5px;
  font-size: 1rem;
  display: inline-block;
}
#storybook-explorer-tree .sidebar-item[data-nodetype="document"] {
  color: #1d70b8;
  margin-left: 30px;
}
#storybook-explorer-tree .sidebar-item[data-nodetype="document"]:focus,
#storybook-explorer-tree .sidebar-item[data-nodetype="document"]:hover {
  background: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}
#storybook-explorer-tree .sidebar-item[data-nodetype="document"]:focus {
  background: #ffdd00;
  color: #0b0c0c;
}
#storybook-explorer-tree .sidebar-item + a {
  display: block;
  position: relative;
  /* display: none; This hides the "Skip to canvas" button */
}
#storybook-explorer-tree .sidebar-item[data-selected="true"] {
  color: #1d70b8;
  background: none;
}
#storybook-explorer-tree .sidebar-item[data-selected="true"]::before {
  content: " ";
  border-left: 4px solid #1d70b8;
  position: absolute;
  left: -8px;
  top: -3px;
  bottom: -3px;
}
#storybook-explorer-tree .sidebar-item svg {
  display: none;
}

#storybook-preview-iframe {
  border: 0;
}

div[role="main"] > div {
  box-shadow: none;
}

#docs-root .sbdocs.sbdocs-wrapper {
  padding-top: 1.75rem;
}
