@import "node_modules/govuk-frontend/govuk/_base";
@import "node_modules/govuk-frontend/govuk/components/tag/_index";

@mixin hods-tag-colours($colour) {
  .hods-tag--#{$colour} {
    @extend .govuk-tag--#{$colour};
  }
}

.hods-tag {
  @extend .govuk-tag;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}

@include hods-tag-colours('inactive'); // Deprecated.
@include hods-tag-colours('grey');
@include hods-tag-colours('purple');
@include hods-tag-colours('turquoise');
@include hods-tag-colours('blue');
@include hods-tag-colours('yellow');
@include hods-tag-colours('orange');
@include hods-tag-colours('red');
@include hods-tag-colours('pink');
@include hods-tag-colours('green');

// This is purely for the Storybook stories.
.ml10 {
  margin-left: 10px;
}
